.Kek{
    background-color: whitesmoke;
    text-align: center;
    text-shadow: 20px;
    font-size: xx-large;    
}
.Button{
    background-image: url;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 1000px;
    font-size: 200px;
    color: black;
}
span.small{
 font-size: 10px;   
}
('/image/nutboi.jpg')
