.Kek{
    background-color: whitesmoke;
    text-align: center;
    text-shadow: 20px;
    font-size: xx-large;    
}
.Button{
    background-image: url;nutboi.jpg
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 1000px;
    font-size: 250px;
    color: whitesmoke;
}
